/* ================General================ */
:root {
    --primary-color: #5695bf;
    --secondary-color: #2ecc71;
    --background-color: #f8fcfd;
    --text-color: #4343e9;
    --border-color: rgb(182, 172, 37);
    --hover-background: #DDD;
    --checked-background: rgb(178, 172, 204);
    --disabled: rgb(155, 147, 39);

    --font-family: monospace;
    --font-size-base: 16px;
    --font-size-large: 3vw;
    --font-size-medium: 22px;
    --font-size-small: 12px;
}

.theme-dark {
    --primary-color: #1abc9c;
    --secondary-color: #1599b7;
    --background-color: #34495e;
    --text-color: #ecf0f1;
    --border-color: #b6ac25;
    --hover-background: #DDD;
    --checked-background: rgb(65, 91, 236);
    --disabled: rgb(182, 172, 37);
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    user-select: none;
}

h1 {
    font-size: font-size-large;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

form {
    width: 70%;
    margin-top: 5px;
}

/* THEME SWITCH */
.theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ================Home page================ */
.wrapper-right, .wrapper-left {
    border-radius: 50px;
    border: 3px solid var(--border-color);
    margin: 2%;
    padding: 1%;
    width: fit-content;
}

.wrapper-right {
    margin-left: auto; 
    margin-right: 0;
}

.wrapper-left {
    margin-left: 0; 
    margin-right: auto;
}

/* LANGUAGE CHOICE WRAPPER */
.language-choice label,
.language-choice input {
    border-radius: 25px;
    font-size: var(--font-size-large);
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: max-content;
    height: max-content;
    border: 3px solid var(--border-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.language-choice input[type="radio"] {
    display: none;
}

.language-choice label:hover {
    background: var(--hover-background);
}

.language-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

/* ACCENT CHOICE WRAPPER */
.accent-choice label,
.accent-choice input {
    border-radius: 50%;
    font-size: var(--font-size-medium);
    width: 60px;
    height: 60px;
    text-align: center;
    border: 3px solid var(--border-color);
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.accent-choice input[type="radio"] {
    display: none;
}

.accent-choice label:hover {
    background: var(--hover-background);
}

.accent-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

.accent-choice {
    border-radius: 50px;
    border: 3px solid var(--border-color);
    margin: 10px;
    padding: 5px;
    width: fit-content;
}

.switch-wrap {
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    height: auto;
    width: auto;
    line-height: 25px;
    text-align: center;
}

/* TOPIC CHOICE */
.topic-choice label,
.topic-choice input {
    border-radius: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 85px;
    height: 35px;
    border: 3px solid var(--border-color);
    padding: 0;
    cursor: pointer;
}

.topic-choice input[type="radio"] {
    display: none;
}

.topic-choice label:hover {
    background: var(--hover-background);
}

.topic-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}


/* MODE VALUE CHOICE */
.mode-value-choice label,
.mode-value-choice input {
    border-radius: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 35px;
    height: 35px;
    border: 3px solid var(--border-color);
    padding: 0;
    cursor: pointer;
}

.mode-value-choice input[type="radio"] {
    display: none;
}

.mode-value-choice label:hover {
    background: var(--hover-background);
}

.mode-value-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

/* COMPLEXITY CHOICE WRAPPER */
.complexity-choice label,
.complexity-choice input {
    border-radius: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 85px;
    height: 35px;
    border: 3px solid var(--border-color);
    padding: 0;
    cursor: pointer;
}

.complexity-choice input[type="radio"] {
    display: none;
}

.complexity-choice label:hover {
    background: var(--hover-background);
}

.complexity-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

/* DISABLED */
input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"]:disabled + label {
    cursor: not-allowed;
    color: grey;
}

/* START BUTTON */

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
}

.start-test {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.start-test:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.start-test:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}

/* ================Type page================ */
.correct { color: green; }
.incorrect { color: red; }
.next-char { 
    border-bottom: 5px solid blue; 
}

#test-title h1{
    font-size: 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #1e5ca8;
    margin: 12% auto auto auto;
    opacity: 0.8;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    align-items: center;
    align-self: center;
    align-content: center;
}

#result-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#result-text span {
    margin: 0 10px;
    font-size: var(--font-size-medium);
}

#typing-input {
    opacity: 0;
}

#word-display {
    font-size: 56px;
    margin-top: 10%;
}

#type-area {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events:none;
    cursor: no-drop;
    display: block;
    text-align: center;
    padding-top: 1%;
}


/* BOTTOM INSTRUCTIONS */
.instruction-container {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 4%;
}
item {
    margin-left: 3%;
    margin-right: 3%;
}
key {
    color: var(--bg-color);
    background-color: var(--border-color);
    margin: 0;
    padding: 4px;
    border-radius: .1rem;
    display: inline-block;
    font-size: 1rem;
    line-height: .7rem;
}
