/*THEMES*/
:root {
    --primary-color: #e8d5bc;
    --secondary-color: #DAC0A3;
    --background-color: #f1e4d1;
    --text-color: #102C57;
    --border-color: #102C57;
    --hover-background: #e4ceb0;
    --checked-background: #d1b493;
    --disabled: #eee1ce;
    --disabled-text: #6e6e6e;
    --wrapper: #fbe7d3;
    --default-button: #f5dbc1;
    --font-family: monospace;
    --font-size-base: 16px;
    --font-size-medium: 22px;
    --font-size-small: 12px;
}

.theme-dark {
    --primary-color: #008170;
    --secondary-color: #005B41;
    --background-color: #232D3F;
    --text-color: #ecf0f1;
    --border-color: #0F0F0F;
    --hover-background: #008170;
    --checked-background: #005B41;
    --disabled: #313e56;
    --disabled-text: #808f87;
    --wrapper: #1d2534;
    --default-button: #19202d;
}
/*GENERAL*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent; 
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    position: relative;
    user-select: none;
}

title {
    font-size: var(--font-size-medium);
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}

.instruction-container {
    width: 100%;
    text-align: center;
    opacity: 0.8;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 80px;
}

key {
    color: var(--checked-background);
    background-color: var(--border-color);
    margin: 0;
    padding: 4px;
    border-radius: .1rem;
    font-size: 1rem;
    line-height: .7rem;
}

item {
    margin-left: 3%;
    margin-right: 3%;
    position: relative;
    display: inline-block;
    align-self: flex-end;
}
/*HEADER*/
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 10px;
    z-index: 1000;
}

.social-media {
    display: flex;
    gap: 40%; 
}

.social-item a img {
    width: 26px;
    height: 26px; 
    transition: opacity 0.3s ease; 
    opacity: 0.4;
    cursor: pointer;
}

.social-item a img:hover {
    opacity: 1; 
}
.wrapper-right, .wrapper-left {
    border-radius: 50px;
    border: 3px solid var(--border-color);
    margin: 10px;
    padding: 5px;
    width: fit-content;
}

.theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color);
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}
/*HOME PAGE*/
form {
    width: 100%;
    margin-top: 5px;
    flex: 1;
}

.wrapper-right {
    margin-left: auto; 
    margin-right: 0;
    background-color: var(--wrapper);
}

.wrapper-left {
    margin-left: 0; 
    margin-right: auto;
    background-color: var(--wrapper);
}

.accent-choice label,
.accent-choice input {
    border-radius: 50%;
    text-align: center;
    border: 3px solid var(--border-color);
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.accent-choice input[type="radio"] {
    display: none;
}

.accent-choice label:hover {
    background: var(--hover-background);
    transition: 0.2s;
}

.accent-choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

.accent-choice {
    border-radius: 50px;
    border: 3px solid var(--border-color);
    margin: 10px;
    padding: 5px;
    width: fit-content;
    background-color: var(--wrapper);
}

.switch-wrap {
    font-size: 14px;
    display: inline-block;
    border-radius: 50%;
    height: auto;
    width: auto;
    line-height: 25px;
    text-align: center;
    background-color: var(--wrapper);
}

.choice label,
.choice input {
    border-radius: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: max-content;
    height: max-content;
    border: 3px solid var(--border-color);
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--default-button);
}

.choice input[type="radio"] {
    display: none;
}

.choice label:hover {
    background: var(--hover-background);
    transition: 0.2s;
}

.choice input[type="radio"]:checked + label {
    background: var(--checked-background);
}

input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"]:disabled + label {
    cursor: not-allowed;
    color: var(--disabled-text);
    background-color: var(--disabled);
}

input[type="radio"]:checked:disabled + label {
    cursor: not-allowed;
    color: var(--disabled-text);
    background-color: var(--disabled);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4%;
}

.start-test {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid var(--border-color);
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.start-test:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.start-test:focus {
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
}
/*TYPE PAGE*/
.correct { 
    color: var(--secondary-color); 
}
.incorrect { 
    color: rgb(119, 8, 8); 
    border-bottom: 5px solid rgb(119, 8, 8);
}
.next-char { 
    border-bottom: 5px solid var(--text-color); 
}

#test-title{
    font-size: var(--font-size-medium);
    opacity: 0.8;
}

#result-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#typing-input {
    opacity: 0;
}

#word-display {
    font-size: 48px;
    margin-top: 30px;
    overflow: hidden;
    padding: 5px;
}

#type-area {
    user-select: none;
    pointer-events: none;
    cursor: no-drop;
    display: block;
    text-align: center;
    padding-top: 1%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--hover-background);
    margin: 150px auto auto auto;
    opacity: 0.8;
    padding: 15px;
    border: 1px solid var(--disabled);
    width: 40%;
    align-items: center;
    align-self: center;
    align-content: center;
}
/*MEDIA QUERIES*/
/* Small devices*/
@media (max-width: 650px) {
    .accent-choice label,
    .accent-choice input {
        width: 30px;
        height: 30px;
        font-size: var(--font-size-small);
    }
    .choice label,
    .choice input {
        font-size: var(--font-size-small);
        padding: 3px 6px;
    }
    .start-test {
        font-size: 14px;
        padding: 8px 16px;
    }
    key {
        font-size: .6rem;
    }
    .modal-content {
        width: 70%;
        font-size: 12px;
    }
    #result-text span {
        font-size: 15px;
    }
}
/* Medium devices */
@media (min-width: 650px) and (max-width: 800px) {
    .accent-choice label,
    .accent-choice input {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
    .choice label,
    .choice input {
        font-size: 16px;
        padding: 4px 8px;
    }
    .start-test {
        font-size: 15px;
        padding: 9px 18px;
    }
    .modal-content {
        width: 60%;
    }
    #result-text span {
        font-size: 18px;
    }
}
/* Medium-Large */
@media (min-width: 800px) and (max-width: 1200px) {
    .accent-choice label,
    .accent-choice input {
        width: 55px;
        height: 55px;
        font-size: 19px;
    }
    .choice label,
    .choice input {
        font-size: 19px;
        padding: 5px 10px;
    }
    .start-test {
        font-size: 16px;
        padding: 10px 20px;
    }
    form {
        width: 90%;
    }
    .modal-content {
        width: 50%;
    }
    #result-text span {
        font-size: 20px;
    }
}
/* Large devices */
@media (min-width: 1200px) {
    .accent-choice label,
    .accent-choice input {
        width: 55px;
        height: 55px;
        font-size: var(--font-size-medium);
    }
    .choice label,
    .choice input {
        font-size: var(--font-size-medium);
        padding: 5px 10px;
    }
    .start-test {
        font-size: 16px;
        padding: 10px 20px;
    }
    form {
        width: 70%;
    }
    .modal-content {
        width: 40%;
    }
    #result-text span {
        font-size: var(--font-size-medium);
    } 
}