<!DOCTYPE html>
<html>
    <head>
        <title>Typing Speed Test</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body>
    <h1>Welcome to the Typing Test</h1>
    
        <form method="POST" action="{% url 'type' %}">
            {% csrf_token %}
            <div>
                <div class="wrapper">
                    <div class="language-choice" id="language-choice">
                        <input type="radio" id="english200" name="language" value="english200" checked="checked" />
                        <label for="english200">English</label>
    
                        <input type="radio" id="english1k" name="language" value="english1k" />
                        <label for="english1k">English</label>
    
                        <input type="radio" id="serbian" name="language" value="serbian"/>
                          <label for="serbian">Serbian</label>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="word-choice" id="word-choice">
                        <input type="radio" id="10" name="words" value="10" checked="checked" />
                        <label for="10" id="10">10</label>
                        
                        <input type="radio" id="25" name="words" value="25"/>
                        <label for="25" id="25">25</label>
    
                        <input type="radio" id="50" name="words" value="50" />
                        <label for="50" id="50">50</label>
                    </div>  
                </div>
                <button class="start-test" type="submit" id="start-test">Start Test</button>  
        </form>
    </div>
</body>
</html>