<!DOCTYPE html>
<html>
    <head>
        <title>Typing Speed Test</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts.js' %}" defer></script>
    </head>
<body>
    <h1>Welcome to the Typing Test</h1>
        <form method="POST" action="{% url 'type' %}">
            {% csrf_token %}
                <div class="wrapper-left">
                    <div class="language-choice" id="language-choice">
                        <input type="radio" id="english" name="language" value="english" checked="checked" />
                        <label for="english">English</label>
    
                        <input type="radio" id="german" name="language" value="german" />
                        <label for="german">German</label>
    
                        <input type="radio" id="serbian" name="language" value="serbian"/>
                        <label for="serbian">Serbian</label>  

                        <input type="radio" id="lorem" name="language" value="lorem" />
                        <label for="lorem">Lorem</label>
                    </div>
                    <div class="sub-wrapper">
                        <div class="switch-wrap">
                            <input type="radio" id="on" name="accent" value="on" checked="checked" />
                            <label for="on">ČÜß</label>
                        </div>
                        <div class="switch-wrap">
                            <input type="radio" id="off" name="accent" value="off"/>
                            <label for="off">CUSS</label>  
                        </div>
                    </div>
                </div>
                <div class="wrapper-right">
                    <div class="topic-choice" id="topic-choice">
                        <input type="radio" id="none" name="topic" value="none" checked="checked" />
                        <label for="none">None</label>
    
                        <input type="radio" id="numbers" name="topic" value="numbers" />
                        <label for="numbers">Numbers</label>

                        <input type="radio" id="animals" name="topic" value="animals" />
                        <label for="animals">Animals</label>

                        <input type="radio" id="food" name="topic" value="food" />
                        <label for="food">Food</label>

                        <input type="radio" id="objects" name="topic" value="objects" />
                        <label for="objects">Objects</label>  

                        <input type="radio" id="quotes" name="topic" value="quotes" />
                        <label for="quotes">Quotes</label>                   
                    </div>
                </div>
                <div class="wrapper-left">
                    <div class="complexity-choice" id="complexity-choice">
                        <input type="radio" id="low" name="complexity" value="low" checked="checked" />
                        <label for="low">Low</label>
    
                        <input type="radio" id="mid" name="complexity" value="mid"/>
                        <label for="mid">Mid</label>
                        
                        <input type="radio" id="high" name="complexity" value="high"/>
                        <label for="high">High</label>
                        
                        <input type="radio" id="insane" name="complexity" value="insane"/>
                        <label for="insane">Insane</label>
                    </div>
                </div>
                <div class="wrapper-right">
                    <div class="word-choice" id="word-choice">
                        <input type="radio" id="5" name="words" value="5"/>
                        <label for="5" id="5">5</label>

                        <input type="radio" id="10" name="words" value="10" checked="checked" />
                        <label for="10" id="10">10</label>

                        <input type="radio" id="15" name="words" value="15"/>
                        <label for="15" id="15">15</label>
                        
                        <input type="radio" id="25" name="words" value="25"/>
                        <label for="25" id="25">30</label>
    
                        <input type="radio" id="60" name="words" value="60" />
                        <label for="60" id="60">60</label>
                    </div>  
                </div>          
                <button class="start-test" type="submit" id="start-test">Start Test</button>  
        </form>
    </div>
</body>
</html>