<!DOCTYPE html>
<html>
<head>
    <title>Typing Speed Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to the Typing Test</h1>
    <form method="POST" action="{% url 'type' %}">
        {% csrf_token %}
        <div class="wrapper-left">
            <div class="language-choice" id="language-choice">
                <input type="radio" id="language-english" name="language" value="english" checked="checked" />
                <label for="language-english">English</label>

                <input type="radio" id="language-german" name="language" value="german" />
                <label for="language-german">German</label>

                <input type="radio" id="language-serbian" name="language" value="serbian"/>
                <label for="language-serbian">Serbian</label>  

                <input type="radio" id="language-lorem" name="language" value="lorem" />
                <label for="language-lorem">Lorem</label>
            </div>
        </div>
        <div class="mode-choice" id="mode-choice">
            <div class="switch-wrap">
                <input type="radio" id="mode-count" name="mode" value="count" checked="checked" />
                <label for="mode-count">count</label>
            </div>
            <div class="switch-wrap">
                <input type="radio" id="mode-time" name="mode" value="time"/>
                <label for="mode-time">time</label>  
            </div>
        </div>
        <div class="accent-choice" id="accent-choice">
            <div class="switch-wrap">
                <input type="radio" id="accent-on" name="accent" value="on" checked="checked" />
                <label for="accent-on">ČÜß</label>
            </div>
            <div class="switch-wrap">
                <input type="radio" id="accent-off" name="accent" value="off"/>
                <label for="accent-off">CUSS</label>  
            </div>
        </div>
        <div class="wrapper-right">
            <div class="topic-choice" id="topic-choice">
                <input type="radio" id="topic-none" name="topic" value="none" checked="checked" />
                <label for="topic-none">None</label>

                <input type="radio" id="topic-numbers" name="topic" value="numbers" />
                <label for="topic-numbers">Numbers</label>

                <input type="radio" id="topic-animals" name="topic" value="animals" />
                <label for="topic-animals">Animals</label>

                <input type="radio" id="topic-food" name="topic" value="food" />
                <label for="topic-food">Food</label>

                <input type="radio" id="topic-objects" name="topic" value="objects" />
                <label for="topic-objects">Objects</label>  

                <input type="radio" id="topic-quotes" name="topic" value="quotes" />
                <label for="topic-quotes">Quotes</label>                   
            </div>
        </div>
        <div class="wrapper-left">
            <div class="complexity-choice" id="complexity-choice">
                <input type="radio" id="complexity-low" name="complexity" value="low" checked="checked" />
                <label for="complexity-low">Low</label>

                <input type="radio" id="complexity-mid" name="complexity" value="mid"/>
                <label for="complexity-mid">Mid</label>
                
                <input type="radio" id="complexity-high" name="complexity" value="high"/>
                <label for="complexity-high">High</label>
                
                <input type="radio" id="complexity-insane" name="complexity" value="insane"/>
                <label for="complexity-insane">Insane</label>
            </div>
        </div>
        <div class="wrapper-right">
            <div class="mode-value-choice" id="mode-value-choice">
                <input type="radio" id="words-5" name="mode-value" value="5" checked="checked" />
                <label for="mode-value-5">5</label>

                <input type="radio" id="mode-value-10" name="mode-value" value="10"/>
                <label for="mode-value-10">10</label>

                <input type="radio" id="mode-value-15" name="mode-value" value="15"/>
                <label for="mode-value-15">15</label>
                
                <input type="radio" id="mode-value-25" name="mode-value" value="25"/>
                <label for="mode-value-25">25</label>

                <input type="radio" id="mode-value-60" name="mode-value" value="60" />
                <label for="mode-value-60">60</label>
            </div>  
        </div>          
        <button class="start-test" type="submit" id="start-test">Start Test</button>  
    </form>
    <script src="{% static 'js/scripts.js' %}" defer></script>
</body>
</html>
