<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="type-area" id="type-area">
        <h1 id="test-title">...start typing whenever you are ready</h1>
        <div id="word-display">{{ words|join:" " }}</div>
        <input autocomplete="off" type="text" id="typing-input" onblur="this.focus()" autofocus/>
    
        <div id="result-modal" class="modal">
            <div class="modal-content">
                <div id="result-text">
                    <span id="cpm"></span>
                    <span id="wpm"></span>
                    <span id="accuracy"></span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="instruction-container" id="instruction-container">
        <item><key>tab</key> - restart test</item>
        <item><key>esc</key> - back to home</item>
        <item><key>~</key> - new test</item>
    </div>
    <script src="{% static 'js/scripts.js' %}" defer></script>
</body>
</html>

